{% extends 'main.html' %}
{% load static %}
    {% block content %}
  <main class="singleProject my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--2of3">
          <h3 class="singleProject__subtitle">Facilities and Specialties</h3>
          <div class="singleProject__toolStack">
              {% for facility in restaurant.facilities.all %}
              	<span class="tag tag--pill tag--sub tag--lg">
              <small>{{ facility }}</small>
            </span>
              {% endfor %}


          </div>
        <h3 class="singleProject__subtitle">Open On</h3>
          <div class="singleProject__toolStack">
              {% for day in restaurant.open_days.all %}
              	<span class="tag tag--pill tag--sub tag--lg">
              <small>{{ day }}</small>
            </span>
              {% endfor %}
            <h4>From: {{ restaurant.open_from }}</h4>
          <h4>To: {{ restaurant.open_to }}</h4>

          </div>


        <a class="singleProject__liveLink" href="{{ restaurant.website }}" target="_blank"><i class="im im-external-link"></i>Restaurant Webpage
          </a>
         <div class="commentList">
                {% for review in reviews %}
                	<div class="comment card">

                <div class="comment__details">
                  <div  class="comment__info ">{{ review.by.name.capitalize }}</div>
                  <p class="comment__author">

                        <img src="{% static 'images/star' %}{{ review.value }}.png" alt="Star" class="star-icon">


                        <h5>{{ review.title }}</h5>
                    {{ review.body }}
                  </p>

                </div>
              </div>

                {% endfor %}


            </div>
        </div>
        <div class="column column--1of3">
          <h2 class="singleProject__title">{{ restaurant.name }}</h2>
          <img class="singleProject__preview" src="{% static restaurant.main_image.url%}" alt="portfolio thumbnail" />

          <h3 class="singleProject__subtitle">About the Restaurant</h3>
          <div class="singleProject__info">
           {{ restaurant.small_description }}

            <br />
            <br />
           {{ restaurant.large_description }}
          </div>
        <h3 class="singleProject__subtitle">Images</h3>
        <div class="grid grid--three gallery">
            {% for image in images %}
            	<div class="column">
            <div class="card project">
                <div class="gallery-item">
                <img class="" src="{% static image.image.url %}" alt="project thumbnail" />
                </div>

            </div>
          </div>

            {% endfor %}

          </div>
        {% if request.user.is_authenticated %}
          <div class="comments">
            <h3 class="singleProject__subtitle">Feedback</h3>

            <form class="form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in add_review %}
                    <div class="form__field">
                        <label for="{{ field.id_for_label }}" >{{ field.label }}</label>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">{{ field.errors|striptags }}</div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
          {% endif %}

          </div>
        </div>
      </div>
    </div>
    </div>
  </main>
    {% endblock %}
{% load static %}
