{% extends 'main.html' %}
{% block content %}	<!-- Header Section  -->

    <!-- Home Section  -->
    <section class="home" id="home">
        <div class="home-content">
            <h1 class="home-content-text">Explore    <span class="title"> Manipal </span></h1>
                    <div class="desc">
                   <h2>Your city’s heartbeat, now in our pocket!</h2>
                            <p>
                    From Dining to Dancing: All the City's Delights in One Click.

                </p>
                        </div>
            <div class="btn-box">

                <a href="{% url 'events' %}" class="btn" id="profile">Events</a>
                <a href="{% url 'restaurants' %}" class="btn" id="talk">Restaurants</a>
            </div>
        </div>
    </section>
    <!-- About Section -->

    <!-- eductation section  -->
     <!-- skills section  -->


    <!-- footer  design-->


{% endblock %}

